@import "./global.scss";

// Card
#card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 15px;

  //   cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  outline: 1px solid $faded;
  .icon {
    width: 35px;
    height: 35px;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgb(23, 24, 26);
    border-radius: 50%;
    background-color: #2e2f31;
  }
  .data {
    display: block;
  }
}
